/* #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #0f8a0f;
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 1040;
}

#sidebar.hidden {
    transform: translateX(-250px);
}

#sidebar .nav-link {
    color: #ffffff;
}

.navbar {
    z-index: 1030;
}

#main-content {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

#main-content.collapsed {
    margin-left: 0;
}

.navbar,
.menu_section h3,
.nav.side-menu li a {
    border: 0;
    text-decoration: none;
}

.nav.side-menu li a {
    text-decoration: none;
    color: #ffffff;
}

.nav.side-menu li a:hover {
    text-decoration: none;
}
 */
#sidebar {
    transition: width 0.3s ease;
    width: 250px;
    top: 0;
    left: 0;
    height: 100%;
}

#sidebar.collapsed .nav-link {
    text-align: center;
}

#sidebar.collapsed .nav-link i {
    margin: 0;
}

#sidebar.collapsed {
    overflow: hidden;
}

#sidebar.collapsed .sidebar-text {
    display: none;
}

.main-content {
    width: 100%;
}
